.chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}

.chat__header {
  padding: 1.25rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.chat__headerInfo {
  flex: 1;
  padding-left: 1.25rem;
}

.chat__headerInfo > h3 {
  margin-bottom: 0.25rem;
  font-weight: 500;
  text-transform: capitalize;
}

.chat__headerInfo > p {
  color: gray;
}

.chat__headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 6.25rem;
}

.chat__body {
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: repeat;
  background-position: center;
  padding: 1.75rem;
  overflow: scroll;
}

.chat__message {
  position: relative;
  font-size: 1rem;
  width: fit-content;
  padding: 0.75rem;
  border-radius: 0.75rem;
  background-color: #ffffff;
  margin-bottom: 1.75rem;
}

.chat__reciever {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat__name {
  position: absolute;
  top: -1rem;
  font-weight: 800;
  font-size: xx-small;
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  border-top: 1px solid lightgray;
}

.chat__footer > form {
  flex: 1;
  display: flex;
  min-width: 6.25rem;
}

.chat__footer > form > input {
  flex: 1;
  border-radius: 1.75rem;
  border: none;
  padding: 0.75rem;
}

.chat__footer > form > button {
  display: none;
}

.chat__footer > .MuiSvgIcon-root {
  padding: 0.75rem;
  color: gray;
}

.chat__timestamp {
  margin-left: 0.75rem;
  font-size: xx-small;
}
