.login {
  background-color: #f8f8f8;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.login__container {
  padding: 6.25rem;
  text-align: center;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
}

.login__container > img {
  object-fit: contain;
  height: 6.25rem;
  margin-bottom: 3rem;
}

.login__container > button {
  margin-top: 3rem;
  text-transform: inherit !important;
  background-color: #0a8d48 !important;
  color: white;
}
