.sidebarChat {
  display: flex;
  cursor: pointer;
  padding: 1.25rem;
  border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover {
  background-color: #ebebeb;
}

.sidebarChat__info {
  margin-left: 1rem;
  text-transform: capitalize;
}

.sidebarChat__info > h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none !important;
  color: black;
}

@media (max-width: 600px) {
  .sidebarChat {
    padding: 0.75rem;
  }
}
