.app {
  background-color: #dadbd3;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app__body {
  width: 90vw;
  height: 90vh;
  margin-top: -3rem;
  display: flex;
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 900px) {
  html {
    font-size: 0.75rem;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 0.6rem;
  }
}

@media (max-width: 600px) {
  .app__body {
    width: 100vw;
  }

  @media (max-width: 400px) {
    html {
      font-size: 0.45rem;
    }
  }
}
